<!DOCTYPE HTML>
<head>
<title>User Registration Screen</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--     <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js"></script> -->
<!--  <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript> -->
</head>
<body>
	<div id="container_demo">
		<div id="wrapper"></div>
		<div id="register">
			<h1>Sign up</h1>
			<p>
				<label for="usernamesignup">Your username</label> <input
					id="usernamesignup" name="usernamesignup" required="required"
					type="text" placeholder="mysuperusername690"></input>
			</p>

			<p>
				<label for="emailsignup"> Your email</label> <input id="emailsignup"
					name="emailsignup" required="required" type="email"
					placeholder="mysupermail@mail.com" />
			</p>

			<p>
				<label for="emailsignup"> Your email</label> <input id="emailsignup"
					name="emailsignup" required="required" type="email"
					placeholder="mysupermail@mail.com" />
			</p>

			<p>
				<label for="passwordsignup">Your password </label> <input
					id="passwordsignup" name="passwordsignup" required="required"
					type="password" placeholder="eg. X8df!90EO" />
			</p>
			<p>
				<label for="passwordsignup_confirm">Please confirm your
					password </label> <input id="passwordsignup_confirm"
					name="passwordsignup_confirm" required="required" type="password"
					placeholder="eg. X8df!90EO" />
			</p>
			<p>
				<input id="signup" type="submit" value="Sign up" />
			</p>
		</div>

	</div>
</body>