<!DOCTYPE HTML>
<head>
<title>User Information Screen</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>
<body>
	<h2>Submitted User Information</h2>

	<div id="userInfo">
		<p>
			<label for="usernamesignup"><b>Your username : </b></label> <label
				th:text="${user.userName}"> </label>
		</p>

		<p>
			<label for="emailsignup"> <b>Your email : </b></label> <label
				th:text="${user.email}"> </label>
		</p>

		<p>
			<label for="emailsignup"> <b>Your First Name:</b> </label> <label
				th:text="${user.firstName}"> </label>
		</p>

		<p>
			<label for="emailsignup"> <b>Your Last Name :</b> </label> <label
				th:text="${user.lastName}"> </label>
		</p>

	</div>

</body>